*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.6%;
    scroll-behavior: smooth;
}

.pai{
    width: 50rem;  /*500px*/
    height: 100vh;
    background: yellow;
    overflow: hidden;
}

.pai > div{
    width: 50%;
    height: 50rem;
    background: blue;
}

p{
    font-size: 1.6rem;
}


.color-two{
    background: darkmagenta;
}

.color-three{
    background: blue;
}